<th scope=row>{{incident.id}}</th>
<td>{{incident.titre}}</td>
<td>{{incident.level}}</td>
<td>{{incident.type}}</td>
<td><ngb-progressbar type={{incident.progressType}} [value]="incident.progress" [striped]="true" [animated]="true"><i class="progression">{{incident.progress}}%</i></ngb-progressbar></td>

<td *ngIf="incident.dateModification.getTime() == 0">Pas encore de modification</td>
<td *ngIf="incident.dateModification.getTime() != 0">{{incident.dateModification.toLocaleDateString('fr-FR',
  { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}}</td>
<td *ngIf="incident.dateCreation.getTime() == 0">Pas de création ? Ok.</td>
<td *ngIf="incident.dateCreation.getTime() != 0">{{incident.dateCreation.toLocaleDateString('fr-FR',
  { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}}</td>
<td>
  <div class="row">
    <div class="col">
      <!-- Exemple d'utilisation de <ng-content> dans le html pour interpréter du html au sein d'un component -->
      <ng-content></ng-content>
      <a type="button" class="btn btn-info" href="/incident/{{incident.id}}">Details</a>
      <button type="button" class="btn btn-warning" (click)="open()">Open</button>
    </div>
  </div>
</td>
